<header class="flex h-16">
    <div class="flex w-1/2"></div>
    <div class="flex flex-shrink-0">
        <h1>
            <a href="/">Tommy Grabowski</a>
        </h1>
    </div>
    <div class="flex w-1/2"></div>
</header>