@inherits LayoutComponentBase

<div>
    <Header />
    <div class="h-[calc(100dvh-4rem)] overflow-auto flex p-4 bg-darkblue">
        <div class="flex-1 rounded-md bg-backdrop p-4">
            @Body
        </div>
    </div>
</div>
