@page "/about"

<PageTitle>About | TG</PageTitle>

<div class="flex flex-col gap-4">
    <h1 class="text-3xl font-bold text-center">About | TG</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2">
        <div class="col-span-full border rounded-md p-4">
            <h2 class="text-lg font-bold">The Website</h2>
            <p class="pt-4">
                This website is a personal project created by Tommy Grabowski (an idiot). The website is built using
                <a
                    href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor"
                    class="btn-link"
                >
                    Blazor Web App
                </a> (a
                <a
                    href="https://www.netlingo.com/word/pita.php"
                    class="btn-link"
                >
                    PITA</a>),
                <a
                    href="https://tailwindcss.com/"
                    class="btn-link"
                >
                    Tailwind CSS
                </a> (an absolute pleasure to work with), and
                <a
                    href="https://www.microsoft.com/en-us/sql-server/sql-server-2019"
                    class="btn-link"
                >
                    SQL Server
                </a> (another massive <a
                    href="https://www.netlingo.com/word/pita.php"
                    class="btn-link"
                >
                    PITA</a>). The website is hosted on
                <a
                    href="https://azure.microsoft.com/en-us/"
                    class="btn-link"
                >
                    Azure
                </a> and the source code is available on
                <a
                    href="https://github.com/tomagrab/TommyGrabowski"
                    class="btn-link"
                >
                    GitHub</a>.
            </p>
            <p class="pt-4">
                The website is a work in progress and will be updated as I learn more about Blazor and Tailwind CSS. The website is a place for me to experiment with different features and designs. The website is also a place for me to share my thoughts and ideas with the world (as if anyone wants to read anout those).
            </p>
        </div>
        <div class="border rounded-md p-4">
            <h2 class="text-lg font-bold">Working with Blazor</h2>
            <p class="pt-2">
                As I previously said, Blazor is a
                <a
                    href="https://www.netlingo.com/word/pita.php"
                    class="btn-link"
                >
                PITA</a>. This is mostly because, also as previously stated,
                I am an idiot. The learning curve is very steep and the
                documentation, while plentiful, is overwwhelming and confusing.
                Microsoft has approximately 1,000,000 different ways to do the same
                thing and it is very difficult to know which way is the best way.
                If you thought that tutorial hell was bad for Next.js, you have
                not seen anything yet. Blazor is a whole new level of tutorial
                hell. I have spent countless hours trying to figure out how to do
                the simplest things and I am still not sure if I am doing them
                correctly. It took me no less than 6 hours just to figure out
                how to get the sidebar on this webstie to work.
            </p>
            <p class="pt-4">
                With all of that being said, one may start to wonder "Why even
                even use Blazor when there are faster and easier optoins?" That
                is a very valid question I have asked myself numerous times throughout
                this project. The answer to that question is another question: "If I always did the easy thing, then how could I grow as a developer?"
            </p>
        </div>
        <div class="border rounded-md p-4">
            
        </div>
        <div class="border rounded-md p-4">
            <h2 class="text-lg font-bold">The Color Palatte</h2>
            <p class="py-4">
                The color palatte is inspired by GitHub. The colors are used to create a dark theme for the website.
            </p>
            <div class="flex flex-col border rounded-md overflow-hidden text-white">
                <div class="bg-backdrop">
                    <p class="p-4 text-center">
                        Backdrop
                    </p>
                </div>
                <div class="bg-darkgray">
                    <p class="p-4 text-center">
                        Dark Gray
                    </p>
                </div>
                <div class="bg-darkblue">
                    <p class="p-4 text-center">
                        Dark Blue
                    </p>
                </div>
                <div class="bg-blue">
                    <p class="p-4 text-center">
                        Blue
                    </p>
                </div>
                <div class="bg-brightBlack">
                    <p class="p-4 text-center">
                        Bright Black
                    </p>
                </div>
                <div class="bg-brightBlue">
                    <p class="p-4 text-center">
                        Bright Blue
                    </p>
                </div>
                <div class="bg-brightCyan">
                    <p class="p-4 text-center">
                        Bright Cyan
                    </p>
                </div>
                <div class="bg-brightGreen">
                    <p class="p-4 text-center">
                        Bright Green
                    </p>
                </div>
                <div class="bg-brightPurple">
                    <p class="p-4 text-center">
                        Bright Purple
                    </p>
                </div>
                <div class="bg-brightRed">
                    <p class="p-4 text-center">
                        Bright Red
                    </p>
                </div>
                <div class="bg-brightWhite text-black">
                    <p class="p-4 text-center">
                        Bright White
                    </p>
                </div>
                <div class="bg-brightYellow">
                    <p class="p-4 text-center">
                        Bright Yellow
                    </p>
                </div>
                <div class="bg-cursorColor">
                    <p class="p-4 text-center">
                        Cursor Color
                    </p>
                </div>
                <div class="bg-cyan">
                    <p class="p-4 text-center">
                        Cyan
                    </p>
                </div>
                <div class="bg-green">
                    <p class="p-4 text-center">
                        Green
                    </p>
                </div>
                <div class="bg-purple">
                    <p class="p-4 text-center">
                        Purple
                    </p>
                </div>
                <div class="bg-red">
                    <p class="p-4 text-center">
                        Red
                    </p>
                </div>
                <div class="bg-selectionBackground">
                    <p class="p-4 text-center">
                        Selection Background
                    </p>
                </div>
                <div class="bg-yellow">
                    <p class="p-4 text-center">
                        Yellow
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>