@page "/about"

<PageTitle>About | TG</PageTitle>

<div class="flex flex-col gap-4">
    <h1 class="text-center">About | TG</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        <div class="col-span-full rounded-md p-4 pb-0">
            <h2>The Website</h2>
            <p class="pt-4">
                This website is a personal project created by Tommy Grabowski (an idiot). The website is built using
                <a
                    href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor"
                    target="_blank"
                    class="btn-link"
                >
                    Blazor Web App
                </a> (a
                <a
                    href="https://www.netlingo.com/word/pita.php"
                    target="_blank"
                    class="btn-link"
                >
                    PITA</a>),
                <a
                    href="https://tailwindcss.com/"
                    target="_blank"
                    class="btn-link"
                >
                    Tailwind CSS
                </a> (an absolute pleasure to work with), and
                <a
                    href="https://www.microsoft.com/en-us/sql-server/sql-server-2019"
                    target="_blank"
                    class="btn-link"
                >
                    SQL Server
                </a> (another massive <a
                    href="https://www.netlingo.com/word/pita.php"
                    target="_blank"
                    class="btn-link"
                >
                    PITA</a>). The website is hosted on
                <a
                    href="https://azure.microsoft.com/en-us/"
                    target="_blank"
                    class="btn-link"
                >
                    Azure
                </a> and the source code is available on
                <a
                    href="https://github.com/tomagrab/TommyGrabowski"
                    target="_blank"
                    class="btn-link"
                >
                    GitHub</a>.
            </p>
            <p class="pt-4">
                The website is a work in progress and will be updated as I learn more about Blazor and Tailwind CSS. The website is a place for me to experiment with different features and designs. The website is also a place for me to share my thoughts and ideas with the world (as if anyone wants to read anout those).
            </p>
        </div>
        <div class="rounded-md p-4 pb-0">
            <h2>Working with Blazor</h2>
            <p class="pt-2">
                As I previously said, Blazor is a
                <a
                    href="https://www.netlingo.com/word/pita.php"
                    target="_blank"
                    class="btn-link"
                >
                PITA</a>. This is mostly because, also as previously stated,
                I am an idiot. The learning curve is very steep and the
                documentation, while plentiful, is overwwhelming and confusing.
                Microsoft has approximately 1,000,000 different ways to do the same
                thing and it is very difficult to know which way is the best way.
                If you thought that tutorial hell was bad for Next.js, you have
                not seen anything yet. Blazor is a whole new level of tutorial
                hell. I have spent countless hours trying to figure out how to do
                the simplest things and I am still not sure if I am doing them
                correctly. It took me no less than 6 hours just to figure out
                how to get the sidebar on this webstie to work.
            </p>
            <p class="pt-4">
                With all of that being said, one may start to wonder "Why even
                even use Blazor when there are faster and easier optoins?" That
                is a very valid question I have asked myself numerous times throughout
                this project. The answer to that question is another question: "If I always did the easy thing, then how could I grow as a developer?"
            </p>
            <p class="pt-4">
                My biggest struggle as a developer is imposter syndrome. Sure, I could stand up a web app in a day or two with Next.js, but I felt like I hit
                a wall in my learning and growth with Next.js. I never mastered Next.js or learned every single one of it's ins and outs, however, I felt like
                it abstacted away too much and I stopped growing as a developer. I'm sure I'll eventually hit that same wall with Blazor, but for now it is new,
                frustrating, and exciting.
            </p>
        </div>
        <div class="rounded-md p-4 pb-0">
            <h2>Working with Tailwind CSS</h2>
            <p class="pt-2">
                Tailwind CSS is an absolute pleasure to work with. The utility-first
                approach is a game changer and makes styling a breeze. The documentation
                is very well written and easy to follow. The Tailwind team has done
                an excellent job of providing examples and explanations for every
                utility class. The Tailwind team has also done an excellent job of
                providing a plethora of plugins to make Tailwind even more powerful.
            </p>
            <p class="pt-4">
                The only downside to Tailwind is that it can be a bit overwhelming
                at first. There are so many utility classes that it can be difficult
                to know which one to use. The best way to get around this is to
                use the Tailwind documentation and to use the
                <a
                    href="https://marketplace.visualstudio.com/items?itemName=bradlc.vscode-tailwindcss"
                    target="_blank"
                    class="btn-link"
                >
                    Tailwind CSS IntelliSense
                </a> extension for Visual Studio Code. The extension provides
                autocompletion for all of the utility classes and makes it very easy
                to find the right class for the job.
            </p>
            <p class="pt-4">
                The above paragraphs were written by AI, but I stand by what SkyNet said. Now for my own words; I love TailwindCSS. I absolutley adore it. This may seem
                like backtracking because I previously said that I disliked too much abstraction. TailwindCSS is an abstraction of pure CSS.
            </p>
            <p class="pt-4">
                I guess where I give a pass here is that you still need to have an intimate knowledge of CSS to use TailwindCSS effectively. You still need to know
                what a flexbox is and how to use it. Also, I would call Tailwind a "low level" abstraction. It's just prewritten CSS classes.
            </p>
        </div>
        <div class="rounded-md p-4 pb-0">
            <h2>Working with SQL Server</h2>
            <p class="pt-2">
                SQL Server is another
                <a
                    href="https://www.netlingo.com/word/pita.php"
                    target="_blank"
                    class="btn-link"
                >
                    PITA</a>. I am used to working with
                <a
                    href="https://www.postgresql.org/"
                    target="_blank"
                    class="btn-link"
                >
                    PostgreSQL
                </a> (specifically with
                <a
                    href="https://neon.tech/"
                    target="_blank"
                    class="btn-link"
                >
                    Neon</a>)
                along with
                <a
                    href="https://www.prisma.io/"
                    target="_blank"
                    class="btn-link"
                >
                Prisma</a>. Using Neon with Prisma makes standing up a database for your web app ridiculously easy, but that's the problem. It's too easy.
                Both of those tools abstract away too much complexity and control from your database. Good luck trying to get into the nitty gritty of your
                queries to optimize them with Prisma.
            </p>
            <p class="pt-4">
                Of course, you could just not use with Prisma, but that leaves the problem of relying on Neon to host your database. What if Neon has an outage?
                What if Neon goes out of business? What if Neon decides to jack up their prices? What if Neon decides to change their terms of service? These
                are too many what ifs that are out of the developers control.
            </p>
            <p class="pt-4">
                SQL Server gives the complexity and control back to the developer. Honestly, its almost too much complexity and control for a newbie. I have spent
                countless hours trying to figure out how to do the simplest things with SQL Server that would have taken me minutes with Prisma. However, those were
                hours well spent because I was always learning something. That learning gave me much more confidence as a developer and slowly started to errode that pesky
                imposter syndrome.
            </p>
        </div>
        <div class="col-span-full">
            <div class="rounded-md p-4 pt-0 grid grid-cols-1 md:grid-cols-2 gap-8">
                <div>
                    <h2>The Color Palatte</h2>
                    <p class="py-4">
                        The color palatte is inspired by GitHub. The colors are used to create a dark theme for the website.
                    </p>
                    <div class="grid grid-cols-4 rounded-md overflow-hidden text-white">
                        <div class="bg-backdrop flex items-center justify-center">
                            <p class="p-4 text-center">
                                Backdrop: #010409
                            </p>
                        </div>
                        <div class="bg-darkblue flex items-center justify-center">
                            <p class="p-4 text-center">
                                Dark Blue: #161b22
                            </p>
                        </div>
                        <div class="bg-gray flex items-center justify-center">
                            <p class="p-4 text-center">
                                Gray: #6e7681
                            </p>
                        </div>
                        <div class="bg-brightWhite text-black flex items-center justify-center">
                            <p class="p-4 text-center">
                                Bright White: #f0f6fc
                            </p>
                        </div>
                        <div class="bg-blue flex items-center justify-center">
                            <p class="p-4 text-center">
                                Blue: #58a6ff
                            </p>
                        </div>
                        <div class="bg-brightBlue flex items-center justify-center">
                            <p class="p-4 text-center">
                                Bright Blue: #79c0ff
                            </p>
                        </div>
                        <div class="bg-cyan flex items-center justify-center">
                            <p class="p-4 text-center">
                                Cyan: #39c5cf
                            </p>
                        </div>
                        <div class="bg-brightCyan flex items-center justify-center">
                            <p class="p-4 text-center">
                                Bright Cyan: #56d4dd
                            </p>
                        </div>
                        <div class="bg-green flex items-center justify-center">
                            <p class="p-4 text-center">
                                Green: #3fb950
                            </p>
                        </div>
                        <div class="bg-brightGreen flex items-center justify-center">
                            <p class="p-4 text-center">
                                Bright Green: #56d364
                            </p>
                        </div>
                        <div class="bg-purple flex items-center justify-center">
                            <p class="p-4 text-center">
                                Purple: #bc8cff
                            </p>
                        </div>
                        <div class="bg-brightPurple flex items-center justify-center">
                            <p class="p-4 text-center">
                                Bright Purple: #d2a8ff
                            </p>
                        </div>
                        <div class="bg-red flex items-center justify-center">
                            <p class="p-4 text-center">
                                Red: #ff7b72
                            </p>
                        </div>
                        <div class="bg-brightRed flex items-center justify-center">
                            <p class="p-4 text-center">
                                Bright Red: #ffa198
                            </p>
                        </div>
                        <div class="bg-yellow flex items-center justify-center">
                            <p class="p-4 text-center">
                                Yellow: #d29922
                            </p>
                        </div>
                        <div class="bg-brightYellow flex items-center justify-center">
                            <p class="p-4 text-center">
                                Bright Yellow: #e3b341
                            </p>
                        </div>
                    </div>
                </div>
                <div class="rounded-md p-4 pt-0">
                    <h2>About Me</h2>
                    <p class="py-4">
                        My name is Tommy Grabowski and I am an idiot. I am a self-taught developer who has been coding for about 5 years. I started coding because I was bored and wanted to learn something new. I started with HTLM, CSS, and JavaScript. I have worked with React, Next.js, and Node.js. I have also worked with PostgreSQL and Prisma. I am currently learning Blazor and Tailwind CSS. I am also learning SQL Server. I am always looking to learn new things and improve my skills as a developer. I am also always looking to make new friends and connections. If you would like to chat, feel free to reach out to me on.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>