@page "/about"

<PageTitle>About | TG</PageTitle>

<div class="flex flex-col gap-4">
    <h1 class="text-3xl font-bold text-center">About | TG</h1>
    <div>
        <h2 class="text-lg font-bold">The Color Palatte</h2>
        <p class="py-4">
            The color palatte is inspired by GitHub. The colors are used to create a dark theme for the website.
        </p>
        <div class="flex flex-col border rounded-md overflow-hidden text-white">
            <div class="bg-backdrop">
                <p class="p-4 text-center">
                    Backdrop
                </p>
            </div>
            <div class="bg-darkgray">
                <p class="p-4 text-center">
                    Dark Gray
                </p>
            </div>
            <div class="bg-darkblue">
                <p class="p-4 text-center">
                    Dark Blue
                </p>
            </div>
            <div class="bg-blue">
                <p class="p-4 text-center">
                    Blue
                </p>
            </div>
            <div class="bg-brightBlack">
                <p class="p-4 text-center">
                    Bright Black
                </p>
            </div>
            <div class="bg-brightBlue">
                <p class="p-4 text-center">
                    Bright Blue
                </p>
            </div>
            <div class="bg-brightCyan">
                <p class="p-4 text-center">
                    Bright Cyan
                </p>
            </div>
            <div class="bg-brightGreen">
                <p class="p-4 text-center">
                    Bright Green
                </p>
            </div>
            <div class="bg-brightPurple">
                <p class="p-4 text-center">
                    Bright Purple
                </p>
            </div>
            <div class="bg-brightRed">
                <p class="p-4 text-center">
                    Bright Red
                </p>
            </div>
            <div class="bg-brightWhite text-black">
                <p class="p-4 text-center">
                    Bright White
                </p>
            </div>
            <div class="bg-brightYellow">
                <p class="p-4 text-center">
                    Bright Yellow
                </p>
            </div>
            <div class="bg-cursorColor">
                <p class="p-4 text-center">
                    Cursor Color
                </p>
            </div>
            <div class="bg-cyan">
                <p class="p-4 text-center">
                    Cyan
                </p>
            </div>
            <div class="bg-green">
                <p class="p-4 text-center">
                    Green
                </p>
            </div>
            <div class="bg-purple">
                <p class="p-4 text-center">
                    Purple
                </p>
            </div>
            <div class="bg-red">
                <p class="p-4 text-center">
                    Red
                </p>
            </div>
            <div class="bg-selectionBackground">
                <p class="p-4 text-center">
                    Selection Background
                </p>
            </div>
            <div class="bg-yellow">
                <p class="p-4 text-center">
                    Yellow
                </p>
            </div>
        </div>
    </div>
</div>