@page "/"

<PageTitle>Home | TG</PageTitle>

<div class="flex flex-col gap-4">
    <h1 class="text-3xl font-bold text-center">Home | TG</h1>
    <div>
        <h2 class="text-lg font-bold">Welcome to an Idiot's Ramblings</h2>
        <p class="py-4">
            Welcome to the official website of Tommy Grabowski, the biggest idiot, I myself, personally know. Here you can give me money in exchange for overpriced merch, read my blog, interact with my broken projects, or just look at my ugly mug. I'm not sure why you're here, but I'm glad you are. I hope you enjoy your stay.
        </p>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
            <div>
                <h2 class="text-lg font-bold">Shop</h2>
                <p class="py-4">
                    Check out my shop for some overpriced merch. I'm not sure why you'd want to buy anything, but I'm not going to stop you.
                </p>
                <iframe
                class="h-[740px] w-full rounded-2xl border-2 border-gray-200 shadow-lg md:h-[430px]"
                src="https://embed.creator-spring.com/widget?slug=my-store-f573da&per=6&bg=ffffff&txtcolor=000000&currency=&page=1"
                title="Tommy Grabowski Scammed Me Widget Merch store powered by Spring"
                data-reactroot=""
                />
            </div>
        </div>
    </div>
</div>