@page "/"

<PageTitle>Home | TG</PageTitle>

<div class="flex flex-col justify-center items-center">
    <div class="flex flex-col text-white">
        <div class="bg-backdrop group">
            bg-backdrop

            <div class="h-0 transition-all duration-300 group-hover:h-6">
                group-hover:bg-backdropHover
            </div>
        </div>
        <div class="bg-darkgray">
            bg-darkgrey
        </div>
        <div class="bg-darkblue">
            bg-darkblue
        </div>
        <div class="bg-blue">
            bg-blue
        </div>
        <div class="bg-brightBlack">
            bg-brightBlack
        </div>
        <div class="bg-brightBlue">
            bg-brightBlue
        </div>
        <div class="bg-brightCyan">
            bg-brightCyan
        </div>
        <div class="bg-brightGreen">
            bg-brightGreen
        </div>
        <div class="bg-brightPurple">
            bg-brightPurple
        </div>
        <div class="bg-brightRed">
            bg-brightRed
        </div>
        <div class="bg-brightWhite">
            bg-brightWhite
        </div>
        <div class="bg-brightYellow">
            bg-brightYellow
        </div>
        <div class="bg-cursorColor">
            bg-cursorColor
        </div>
        <div class="bg-cyan">
            bg-cyan
        </div>
        <div class="bg-green">
            bg-green
        </div>
        <div class="bg-purple">
            bg-purple
        </div>
        <div class="bg-red">
            bg-red
        </div>
        <div class="bg-selectionBackground">
            bg-selectionBackground
        </div>
        <div class="bg-yellow">
            bg-yellow
        </div>
    </div>
</div>