@page "/"

<PageTitle>Home | TG</PageTitle>

<div class="flex flex-col gap-4">
    <h1 class="text-center">Home | TG</h1>
    <div>
        <h2>Welcome to an Idiot's Ramblings</h2>
        <p class="py-4 ">
            Welcome to the official website of Tommy Grabowski, the biggest idiot, I myself, personally know. Here you can give me money in exchange for overpriced merch, read my blog, interact with my broken projects, or just look at my ugly mug. I'm not sure why you're here, but I'm glad you are. I hope you enjoy your stay.
        </p>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 py-8">
            <h2 class="col-span-full">On This Site</h2>
            <a href="/shop" class="group">
                <h2 class="btn-link">
                    <i class="fa-solid fa-shirt" /> <span class=" group-hover:underline">Shop</span>
                </h2>
                <p class="py-4">
                    The Shop page is where you can buy overpriced merch that I designed. I'm not sure why you would want to buy them. I hope you enjoy your overpriced merch.
                </p>
            </a>
            <a href="/blog" class="group">
                <h2 class="btn-link">
                    <i class="fa-solid fa-blog" /> <span class=" group-hover:underline">Blog</span>
                </h2>
                <p class="py-4">
                    The Blog page is where you can read my ramblings. I'm not sure why you would want to read them. I hope you enjoy my ramblings.
                </p>
            </a>
            <a href="/about" class="group">
                <h2 class="btn-link">
                    <i class="fa-solid fa-user" /> <span class=" group-hover:underline">About</span>
                </h2>
                <p class="py-4">
                    The About page is where you can read about how this website was made and the technology I used. Below that you can read about a more boring topic: Tommy Grabowski.
                </p>
            </a>
            <a href="/portfolio" class="group">
                <h2 class="btn-link">
                    <i class="fa-solid fa-briefcase" /> <span class=" group-hover:underline">Portfolio</span>
                </h2>
                <p class="py-4">
                    The Portfolio page is where you can see all the projects I've worked on. I'm not sure why you would want to see them. I hope you enjoy my projects.
                </p>
            </a>
            <a href="/contact" class="group">
                <h2 class="btn-link">
                    <i class="fa-solid fa-envelope" /> <span class=" group-hover:underline">Contact</span>
                </h2>
                <p class="py-4">
                    The Contact page is where you can contact me. I'm not sure why you would want to contact me. I hope you enjoy contacting me.
                </p>
            </a>
            <a href="https://github.com/features/copilot?ef_id=_k_CjwKCAjwl4yyBhAgEiwADSEjeMP3lNINZEhbFrsiU7Xp2T__LTiiYlc3pZ7DMcJ4SwCPdO1ZiXcjmBoCWNEQAvD_BwE_k_&OCID=AIDcmmc3fhtaow_SEM__k_CjwKCAjwl4yyBhAgEiwADSEjeMP3lNINZEhbFrsiU7Xp2T__LTiiYlc3pZ7DMcJ4SwCPdO1ZiXcjmBoCWNEQAvD_BwE_k_&gad_source=1&gclid=CjwKCAjwl4yyBhAgEiwADSEjeMP3lNINZEhbFrsiU7Xp2T__LTiiYlc3pZ7DMcJ4SwCPdO1ZiXcjmBoCWNEQAvD_BwE" target="_blank" class="group">
                <h2 class="btn-link">
                    <i class="fa-solid fa-user-pilot" /> <span class=" group-hover:underline">Copilot</span>
                </h2>
                <p class="py-4">
                    This website was made with Github Copilot. Copilot is an AI that helps you write code. You should definitely use it sparingly. I hope you enjoy using Copilot.
                </p>
            </a>
        </div>
        <div>
            <h2>Latest Blog Post</h2>
            <p class="py-4">
                Coming soon...
            </p>
        </div>
    </div>
</div>