@page "/shop"

<PageTitle>Shop | TG</PageTitle>

<div class="flex flex-col gap-4">
    <h1 class="text-center">Shop | TG</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
        <div>
            <div class="relative">
                <h2 class="text-lg font-bold flex items-center gap-2">
                    Tommy Grabowski Scammed Me
                    <i class="fa-solid fa-circle-info info-icon cursor-pointer"></i>
                    <div class="hidden absolute left-[20rem] top-0 info-content">
                        <p class="text-sm">
                            Teespring takes a huge cut of this price. For transparency, I make just over $13 per premium hoodie sold.
                        </p>
                    </div>
                    <div class="hidden info-content-overlay fixed top-0 left-0 bottom-0 right-0 bg-black opacity-0 transition-opacity duration-300 ease-in-out"></div>
                </h2>
            </div>
            <p class="py-4">
                The classic line that started it all. Scam yourself today by buying some overpriced merch. I'm not sure why you'd want to buy anything, but I'm not going to stop you.
            </p>
            <iframe
            class="w-full rounded-2xl border-2 border-gray-200 shadow-lg h-[430px]"
            src="https://embed.creator-spring.com/widget?slug=my-store-f573da&per=6&bg=ffffff&txtcolor=000000&currency=&page=1"
            title="Tommy Grabowski Scammed Me Widget Merch store powered by Spring"
            data-reactroot=""
            />
        </div>
    </div>
</div>