@page "/shop"

<PageTitle>Shop | TG</PageTitle>

<div class="flex flex-col gap-4">
    <h1 class="text-center">Shop | TG</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        <div>
            <div class="relative">
                <h2 class="text-lg font-bold flex items-center gap-2 pb-4">
                    Tommy Grabowski Scammed Me
                    <i class="fa-solid fa-circle-info info-icon cursor-pointer"></i>
                    <div class="hidden absolute left-[20rem] top-0 info-content">
                        <p class="text-sm">
                            Teespring takes a huge cut of this price. For transparency, I make just over $13 per premium hoodie sold.
                        </p>
                    </div>
                    <div class="hidden info-content-overlay fixed top-0 left-0 bottom-0 right-0 bg-black opacity-0 transition-opacity duration-300 ease-in-out"></div>
                </h2>
            </div>
            <div class="flex flex-col gap-4">
                <p>
                    Scam yourself today by buying some overpriced merch. I'm not sure why you'd want to buy anything, but I'm not going to stop you.
                </p>
                <img
                    src="https://vangogh.teespring.com/v3/image/ITUlM9yvxsDNhWp40QfUMi3Z7Ok/800/800.jpg"
                    alt="Overpriced Garbage"
                    class="rounded-md"
                >
                <a
                    href="https://my-store-f573da.creator-spring.com/listing/tommy-grabowski-scammed-me?product=227"
                    target="_blank"
                    class="btn btn-base btn-primary"
                >
                    Buy Now!
                </a>
            </div>
        </div>
        <div>
            <div class="relative">
                <h2 class="text-lg font-bold flex items-center gap-2 pb-4">
                    I'm Alive
                    <i class="fa-solid fa-circle-info info-icon cursor-pointer"></i>
                    <div class="hidden absolute left-[7rem] top-0 info-content">
                        <p class="text-sm">
                            Teespring takes a huge cut of this price. For transparency, I make just over $13 per premium hoodie sold.
                        </p>
                    </div>
                    <div class="hidden info-content-overlay fixed top-0 left-0 bottom-0 right-0 bg-black opacity-0 transition-opacity duration-300 ease-in-out"></div>
                </h2>
            </div>
            <div class="flex flex-col gap-4">
                <p>
                    Let all of your friends and family know that you are, in fact, alive. I'm not sure why you'd want to buy anything, but I'm not going to stop you.
                </p>
                <img
                    src="https://vangogh.teespring.com/v3/image/iJYFZAPF0cVX4_AEP4_D4jARJX4/800/800.jpg"
                    alt="Overpriced Garbage"
                    class="rounded-md"
                >
                <a
                    href="https://my-store-f573da.creator-spring.com/listing/tommy-grabowski-scammed-me?product=227"
                    target="_blank"
                    class="btn btn-base btn-primary"
                >
                    Buy Now!
                </a>
            </div>
        </div>
        <div>
            <div class="relative">
                <h2 class="text-lg font-bold flex items-center gap-2 pb-4">
                    I Spent $1,000 On This Shirt
                    <i class="fa-solid fa-circle-info info-icon cursor-pointer"></i>
                    <div class="hidden absolute left-[18rem] top-0 info-content">
                        <p class="text-sm">
                            Do not buy this shirt. It's a joke. I'm not sure why you'd want to buy anything, but I'm not going to stop you. Use code "SCAM" for 95% off!
                        </p>
                    </div>
                    <div class="hidden info-content-overlay fixed top-0 left-0 bottom-0 right-0 bg-black opacity-0 transition-opacity duration-300 ease-in-out"></div>
                </h2>
            </div>
            <div class="flex flex-col gap-4">
                <p>
                    Why spend thousands of dollars on designer brands when you can spend $1,000 on a shirt that says you spent $1,000 on a shirt? Do not buy this.
                </p>
                <img
                    src="https://vangogh.teespring.com/v3/image/d0n_KxAy-plEFo-vAEeqE6y1SlA/800/800.jpg"
                    alt="Overpriced Garbge"
                    class="rounded-md"
                >
                <a
                    href="https://my-store-f573da.creator-spring.com/listing/i-spent-1-000-on-this-shirt"
                    target="_blank"
                    class="btn btn-base btn-primary"
                >
                    Buy Now!
                </a>
            </div>
        </div>
    </div>
</div>